.not-found-container {
  max-width: 450px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-image {
  width: 90%;
  height: 90%;
}

.not-found-heading {
  color: #5a7184;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Roboto';
}
.not-found-para {
  color: #c3cad9;
  font-size: 20px;
  font-family: 'Roboto';
}