.home-container {
  text-align: center;
  background-color: #152850;
  height: 100vh;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  padding: 55px;
}

.website-logo {
  height: 50px;
  width: 95px;
}

.logout-button {
  width: 90px;
  background: transparent;
  border: 1px solid #ffffff;
  text-align: center;
  margin-top: 0;
}

.home-page-heading {
  font: bold 48px Roboto;
  color: #fff;
}

.digital-card {
  height: 370px;
  width: 600px;
}
